body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
header {
  border: 1px solid #ececec;
}

ul {
  list-style: none;
}

ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
